<!DOCTYPE html>
<html lang="en" ng-app="appILOMS">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="./styles/main.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  ></script>
    <script src="../angular-1.4.7/angular.min.js"></script>
    <script src="./scripts/main.js"></script>
    <script src="./scripts/jqscripts.js" ></script>
    <script src="app/app.js"></script>
    <script src="app/constants/langConstant.js"></script>
    <script src="app/constants/loginConstants.js"></script>
    <script src="app/services/userService.js"></script>
    <script src="app/directives/addDirective.js"></script>
    <script src="app/directives/userDirective.js"></script>
    <script src="app/directives/userUrlDirective.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/controllers/customerController.js"></script>
    <script src="app/controllers/userController.js"></script>
  </head>
  <body>
    <h1>Hello World</h1>
    {{ 5 + 15}}
    <div ng-controller="MainController">
        {{ message }} - {{ version }} - {{ loginUrl }} - {{ loginApi}}
    </div>
    <div ng-controller="CustomerController" >
        Customer Controller:
        <input type="text" ng-model="name" />
        {{ name }}
        User Service
        Add : {{ usadd }}
        Sub : {{ ussub }}
        Mul : {{ usmul }}
    </div>
    <!-- ng-change="$emit('changeUser')" -->
    <div ng-controller="CustomerController" >
      Customer Controller:
      <input type="text" ng-model="name"  />
      {{ name }}
      User Service
      Add : {{ usadd }}
      Sub : {{ ussub }}
      Mul : {{ usmul }}
      <input type="button" value="Submit" ng-click="submit()" />
      <input type="button" value="Submit" ng-click="$emit('submit')" />
      <input type="button" value="Submit" ng-click="$broadcast('ccsubmit')" />
  </div>
  <div ng-controller="UserController">
        User Controller:
          {{ userNameRS }} -
         {{ userName }}
        User Service
        Add : {{ usadd }}
        Sub : {{ ussub }}
        Mul : {{ usmul }}
        Add Directive:<add-directive></add-directive>
    </div>
      <user-directive></user-directive>
    <user-url-directive></user-url-directive>
  </body>
</html>
